<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmovi</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
<h2> OMILJENI FILMOVI</h2>
  <div class="panel panel-success">
      <div class="panel-heading">
          <a href ="https://www.imdb.com/title/tt0208092/">Snatch</a>
      </div>
      <div class="panel-body">
        <b>Rezija</b> <p>Guy Ritchie</p>
        <b>Uloge</b> <p> Benicio del Toro,Dennis, Alan Ford, Jason Flemyng, 
          Robbie Gee, Stephen Graham, Lennie James, Vinnie Jones, Brad Pitt, 
          Rade Šerbedžija, Jason Statham </p>
        </div>
  </div>

  <div class="panel panel-success">
      <div class="panel-heading">
          <a href ='https://www.imdb.com/title/tt0266697/'>Kill Bill v1</a>
          </div>
      <div class="panel-body">
        <b>Rezija</b> <p>Quentin Tarantino</p>
        <b>Uloge</b> 
        <p>Uma Thurman, Lucy Liu, Vivica A. Fox, Michael Madsen, Daryl Hannah, 
          David Carradine, Sonny Chiba, Julie Dreyfus, Chiaki Kuriyama, Gordon Liu, 
          Michael Parks </p>
      </div>
   </div>

  <div class="panel panel-success">
      <div class="panel-heading">
          <a href ="https://www.imdb.com/title/tt0120735/">Lock, Stock and Two Smoking Barrels</a>
     </div>
      <div class="panel-body">
       <b>Rezija</b> <p>Guy Ritchie</p>
       <b>Uloge</b> <p> Jason Flemyng, Dexter Fletcher, Nick Moran, Jason Statham, Steven Mackintosh, 
        Vinnie Jones, Sting </p>
      </div>
   </div>

  <div class="panel panel-success">
      <div class="panel-heading">
          <a href ='https://www.imdb.com/title/tt0378194/?ref_=tt_rec_tt'>Kill Bill v2</a>
          </div>
      <div class="panel-body">
        <b>Rezija</b> <p>Quentin Tarantino</p>
        <b>Uloge</b> 
        <p>Uma Thurman, Daryl Hannah, David Carradine,Michael Madsen,Gordon Liu, Michael Parks </p>
      </div>
   </div>
</div>
</body>
</html>