<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmovi</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<navbar> OVO JE STRANICA O FILMOVIMA</navbar>
<br/><br/>

<body>
    <ol>
        <li><a href ="https://www.imdb.com/title/tt0208092/">Snatch</a>
        <p>Nesto o filmu </p>
        </li>
        <li><a href ="https://www.imdb.com/title/tt0266697/">Kill Bill</a> 
         <p>Nesto o filmu - soundtrack je odlican </p>
         </li>
        <li><a href ="https://www.imdb.com/title/tt0120735/"> Lock, Stock and Two Smoking Barrels </a> 
         <p>Nesto o filmu </p>
         </li>

    </ol>
</body>
</html>